<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="card analytics1">
            <p class="title text-muted mt-2 ml-2"><b>Product By Price</b></p>
            <div class="h-100" echarts [options]="chart" (chartInit)="onChartInit($event)"></div>
        </div>
        <div class="card analytics2">
            <p class="title mt-2 ml-2"><b>Product Status</b></p>
            <div class="h-50" echarts [options]="pieChart" (chartInit)="onPieChartInit($event)"></div>
            <div class="mt-3">
                <div class="d-flex justify-content-around align-items-center">
                    <div [style.background-color]="primaryColor" class="info rounded-lg"></div>
                    <p class="title mt-3">{{ availableProducts }} Available</p>
                </div>
                <div class="d-flex justify-content-around align-items-center">
                    <div [style.background-color]="accentColor" class="ml-1 info rounded-lg"></div>
                    <p class="title mt-3">{{ unAvailableProducts }} Unavailable</p>
                </div>
            </div>
        </div>
    </div>
</div>