.analytics1{
    min-height: 300px;
    width: 100%;
    background-color: #fefefe;
}

.analytics1:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.title{
    font-size: small;
    color: rgb(145, 145, 145);
}
.info{
    height: 20px;
    width: 20px;
}
