<div class="mt-4 card">
    <div class="card-body">
      <div class="card-title fs-6 text-muted">Add Invoice</div>
      <form [formGroup]="invoiceForm" class="mt-4 py-2" >
        <nb-card>
          <nb-card-header>
            Invoice Form
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" (click)="openWindow(invoiceTemplate)" nbButton>Add Invoice</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputNum" class="label">Num</label>
                  <input type="number" value="{{invoice?.id}}" nbInput fullWidth id="inputNum" placeholder="Num Invoice" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputDate" class="label">Date</label>
                  <input type="date" value="{{invoice?.invoiceDate}}" nbInput fullWidth id="inputDate" placeholder="Date Invoice" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputDiscount" class="label">Discount</label>
                  <input type="number" value="{{invoice?.discount}}" nbInput fullWidth id="inputDiscount" placeholder="Discount" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputPayement" class="label">Payement</label>
                  <input type="text" value="{{invoice?.paymentType}}" nbInput fullWidth id="inputPayement" placeholder="Payement" readonly>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Customer 
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" (click)="openWindowCustomer(customerTemplate)" nbButton>Add Customer</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">FirstName</label>
                  <input type="text" value="{{customerSelect.firstName}}" nbInput fullWidth id="FirstName" placeholder="FirstName" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">LastName</label>
                  <input type="text" value="{{customerSelect.lastName}}" nbInput fullWidth id="inputLastName" placeholder="LastName" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail" class="label">Email</label>
                  <input type="email" value="{{customerSelect.email}}" nbInput fullWidth id="inputEmail" placeholder="Email" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputAddress" class="label">Address</label>
                  <input type="text" value="{{customerSelect.address}}" nbInput fullWidth id="inputAddress" placeholder="Address" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputCity" class="label">City</label>
                  <input type="text" value="{{customerSelect.city}}" nbInput fullWidth id="inputCity" placeholder="City" readonly>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Products 
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" (click)="openWindowProduct(productTemplate)" nbButton>Add Products</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ps of listSelectProducts">
                  <td>{{ps.id}}</td>
                  <td>{{ps.designation}}</td>
                  <td>{{ps.price}}</td>
                  <td>{{ps.depositQuantity}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
        <div class="d-grid d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-success" (click)="onValidCustomer()">Valider</button>
        </div>
      </form>
    </div>
  </div>
  

<ng-template #invoiceTemplate let-data let-ref="dialogRef">
  <form [formGroup]="invoiceTemplateForm" id="invoiceTemplateForm">
    <nb-card>
    <nb-card-body>
      <div class="mb-3">
        <h6 class="card-title">Ajouter Invoice</h6>
      </div>
      <hr>
      <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="id" class="label">Num</label>
          <input type="text" formControlName="id" nbInput fullWidth id="id" placeholder="Num Invoice">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputDate" class="label">Date</label>
          <input type="date" formControlName="invoiceDate" nbInput fullWidth id="inputDate" placeholder="Date Invoice">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputDiscount" class="label">Discount</label>
          <input type="number" formControlName="discount" nbInput fullWidth id="inputDiscount" placeholder="Discount">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputPayement" class="label">Payement</label>
          <input type="text" nbInput formControlName="paymentType" fullWidth id="inputPayement" placeholder="Payement">
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success" (click)="onSubmitinvoiceTemplateForm()" nbButton>Add Invoice</button>
    </div>
  </nb-card-body>
</nb-card>
</form>
</ng-template>

<ng-template #customerTemplate let-data>
  <nb-card>
    <nb-card-body>
      <div class="mb-3">
        <h6 class="card-title">Ajouter Customer</h6>
      </div>
      <table class="table table-striped mb-2">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of customers">
            <td>{{c.id}}</td>
            <td>{{c.firstName}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.email}}</td>
            <td>{{c.address}}</td>
            <td>{{c.city}}</td>
            <td>
              <button class="btn btn-info" (click)="selectCustomer(c)">Select</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success btn-sm mb-4" (click)="closeCustomersPopUp()" >Close</button>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #productTemplate let-data>
  <nb-card>
    <nb-card-body>
      <div class="mb-3">
        <h6 class="card-title">Ajouter Les Produits</h6>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Designation</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td>{{p.designation}}</td>
            <td>{{p.price}}</td>
            <td>{{p.depositQuantity}}</td>
            <td>
              <button type="button" class="btn btn-info" (click)="selectProduct(p)" >Select</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success btn-sm" (click)="closeProductPopUp()" >Confirme</button>
    </nb-card-body>
  </nb-card>
</ng-template>