<div class="mt-4 card">
    <div class="card-body">
      <div class="card-title fs-6 text-muted" >Invoice detail</div>
      <form [formGroup]="invoiceForm" class="mt-4 py-2" >
        <nb-card>
          <nb-card-header>
            Invoice
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" (click)="openWindow(invoiceTemplate)"><nb-icon icon="info-outline"></nb-icon> Invoice info</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputNum" class="label">Num</label>
                  <input type="text" value="{{invoice?.id}}" nbInput fullWidth id="inputNum" placeholder="Num Invoice" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputDate" class="label">Date</label>
                  <input type="date" value="{{invoice?.invoiceDate}}" nbInput fullWidth id="inputDate" placeholder="Date Invoice" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputDiscount" class="label">Discount</label>
                  <input type="number" value="{{invoice?.discount}}" nbInput fullWidth id="inputDiscount" placeholder="Discount" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputPayement" class="label">Payement</label>
                  <input type="text" value="{{invoice?.paymentType}}" nbInput fullWidth id="inputPayement" placeholder="Payement" readonly>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>
            Invoice customer 
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" (click)="openWindowCustomer(customerTemplate)"> <nb-icon icon="person-outline"></nb-icon> Customer</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">FirstName</label>
                  <input type="text" value="{{customerSelect?.firstName}}" nbInput fullWidth id="FirstName" placeholder="FirstName" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">LastName</label>
                  <input type="text" value="{{customerSelect?.lastName}}" nbInput fullWidth id="inputLastName" placeholder="LastName" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail" class="label">Email</label>
                  <input type="email" value="{{customerSelect?.email}}" nbInput fullWidth id="inputEmail" placeholder="Email" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputAddress" class="label">Address</label>
                  <input type="text" value="{{customerSelect?.address}}" nbInput fullWidth id="inputAddress" placeholder="Address" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputCity" class="label">City</label>
                  <input type="text" value="{{customerSelect?.city}}" nbInput fullWidth id="inputCity" placeholder="City" readonly>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>
            Invoice products 
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" (click)="openWindowProduct(productTemplate)"><nb-icon icon="shopping-cart-outline"></nb-icon> Products</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ps of listSelectProducts">
                  <td>{{ps.id}}</td>
                  <td>{{ps.designation}}</td>
                  <td>{{ps.price}}</td>
                  <td>{{ps.depositQuantity}}</td>
                  <td>{{ps.price * ps.depositQuantity}}</td>
                  <td><button class="btn-danger" (click)="deleteProductSelected(ps)"> <nb-icon icon="close-outline"></nb-icon></button></td>
                </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>

        <div class="d-grid d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-secondary" (click)="onValidCustomer()"><nb-icon icon="save-outline"></nb-icon> Save invoice</button>
      </div>
      </form>
    </div>
  </div>
  

<ng-template #invoiceTemplate let-data let-ref="dialogRef">
  <form [formGroup]="invoiceTemplateForm">
    <nb-card>
    <nb-card-body>
      <div class="mb-3">
        <h6 class="card-title">Invoice info</h6>
      </div>
      <hr>
      <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="id" class="label">Num</label>
          <input type="text" formControlName="id" nbInput fullWidth  value="{{invoice?.id}}" placeholder="Num Invoice">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputDate" class="label">Date</label>
          <input type="date" formControlName="invoiceDate" value="{{invoice?.invoiceDate}}" nbInput fullWidth  placeholder="Date Invoice">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputDiscount" class="label">Discount</label>
          <input type="number" formControlName="discount" value="{{invoice?.discount" nbInput fullWidth  placeholder="Discount">
        
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputPayement" class="label">Payement</label>
          <input type="text" nbInput formControlName="paymentType" value="{{invoice?.paymentType}" fullWidth placeholder="Payement">
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success" (click)="onSubmitinvoiceTemplateForm()"><nb-icon icon="save-outline"></nb-icon> Save</button>
    </div>
  </nb-card-body>
</nb-card>
</form>
</ng-template>

<ng-template #customerTemplate let-data>
  <nb-card>
    <nb-card-body>
      <div class="mb-3">
        <h6 class="card-title">Select customer</h6>
      </div>
      <table class="table table-striped mb-2" style="width: 800px;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of customers">
            <td>{{c.id}}</td>
            <td>{{c.firstName}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.email}}</td>
            <td>{{c.address}}</td>
            <td>{{c.city}}</td>
            <td>
              <button class="btn btn-primary" (click)="selectCustomer(c)"><nb-icon icon="checkmark-outline"></nb-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 100%;"/>
      <button type="button" class="btn btn-secondary btn-sm mb-4" (click)="closeCustomersPopUp()">Close</button>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #productTemplate let-data>
  <nb-card class="col-12">
    <nb-card-body>
      <div class="mb-3">
        <h6 class="card-title">Select product</h6>
      </div>
      <table class="table table-striped" style="width: 800px;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Designation</th>
            <th scope="col">Price</th>
            <th scope="col">Select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of allProducts">
            <td>{{prd.id}}</td>
            <td>{{prd.designation}}</td>
            <td>{{prd.price}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="selectProduct(prd)" ><nb-icon icon="checkmark-outline"></nb-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="width: 100%;"/>
      <button type="button" class="btn btn-secondary btn-sm" (click)="closeProductPopUp()" >Close</button>
    </nb-card-body>
  </nb-card>
</ng-template>